
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>
    <div>
        <a href="Index">Index</a>
        <a href="Contact">Contact</a>
    </div>
</body>
</html>
