
@{
    ViewBag.Title = "FileUpload";
}

<h2>FileUpload</h2>

@using (Html.BeginForm("FileUpload", "Home", FormMethod.Post,new { enctype = "multipart/form-data"})) 
{
    <input type="file" name="f" />
    <button type="submit" value="submit" name="Submit">Submit</button>
}